<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/footer.css" />
  </head>
  <body>
    <div class="footer">
      <div class="footer-content">
        <div class="branch-info">
          <h3>Chi Nhánh</h3>
          <p>Chi nhánh 1: 123 Nguyễn Văn Bảo, Quận Gò Vấp, TP.HCM</p>
          <p>Chi nhánh 2: 456 Nguyễn Văn Bảo, Quận Gò Vấp, TP.HCM</p>
        </div>
        <div class="contact-info">
          <h3>Thông Tin Cửa Hàng</h3>
          <p>Điện thoại: 0934567812</p>
          <p>Email: nhom08KTKPM@gmail.com</p>
        </div>
      </div>
    </div>
  </body>
</html>
