<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/component/headerAdmin.css">
</head>

<body>
    <div class="logo-title">
        <img src="../assets/img/logo.png" alt="Book Store Logo" />
        <span class="title">Book Store</span>
    </div>
    <div class="right">
        <span class="username" id="username"></span>
        <a href="../pages/accountAdmin.html">
            <img src="../assets/img/avata.png" alt="Admin Avatar" class="avatar" />
        </a>
    </div>
</body>

</html>