<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Header</title>
    <link rel="stylesheet" href="../assets/css/headerCustomer.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    <header class="header">
      <div class="top">
        <div class="logo-title">
          <img src="../assets/img/logo.png" alt="Book Store Logo" />
          <span class="title">Book Store</span>
        </div>
        <div class="buttons">
          <button
            onclick="window.location.href='../pages/accountCustomer.html'"
          >
            Tài khoản
          </button>
          <button class="register" id="logout-btn">Đăng xuất</button>
          <a href="../pages/cartCustomer.html" class="cart-icon">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>
      <!-- Menu -->
      <div id="menu">
        <nav class="nav">
          <div class="menu">
            <ul>
              <li><a href="../pages/homeCustomer.html">Trang Chủ</a></li>
              <li><a href="../pages/productCustomer.html">Sản Phẩm</a></li>
              <li><a href="../pages/chatbotCustomer.html">ChatBot</a></li>
              <li><a href="../pages/articleCustomer.html">Bài Viết</a></li>
              <li><a href="../pages/contactCustomer.html">Liên Hệ</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const logoutBtn = document.getElementById("logout-btn");
        if (logoutBtn) {
          logoutBtn.addEventListener("click", function () {
            localStorage.removeItem("token");
            localStorage.removeItem("role");
            window.location.href = "../pages/home.html";
          });
        }
      });
    </script>
  </body>
</html>
