<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/menuAdmin.css" />
  </head>

  <body>
    <nav class="nav">
      <div class="menu">
        <ul>
          <li><a href="#">Trang Chủ</a></li>
          <li><a href="../pages/productAdmin.html">Sản Phẩm</a></li>
          <li><a href="#">Khách Hàng</a></li>
          <li><a href="#">Bài Viết</a></li>
          <li><a href="#">Thống Kê</a></li>
          <li><a href="#">Đơn Hàng</a></li>
          <li><a href="#">Liên Hệ</a></li>
          <li><a href="#">Tài Khoản</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
