<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/menuAdmin.css" />
  </head>

  <body>
    <nav class="nav">
      <div class="menu">
        <ul>
          <li><a href="../pages/homeAdmin.html">Trang Chủ</a></li>
          <li><a href="../pages/productAdmin.html">Sản Phẩm</a></li>
          <li><a href="../pages/customerAdmin.html">Khách Hàng</a></li>
          <li><a href="../pages/articleAdmin.html">Bài Viết</a></li>
          <li><a href="../pages/statistical.html">Thống Kê</a></li>
          <li><a href="../pages/orderAdmin.html">Đơn Hàng</a></li>
          <li><a href="../pages/contactAdmin.html">Liên Hệ</a></li>
          <li><a href="../pages/accountAdmin.html">Tài Khoản</a></li>
          <li><a href="../pages/home.html">Đăng Xuất</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
