body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  touch-action: none;
  background-color: #f0f3f7; /* nền chung */
}

/*header */
.header {
  display: flex;
  flex-direction: column;
  background-color: #bde5f2; /* nền nhạt */
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px 25px;
}
/*logo*/
.logo-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.header img {
  height: 80px;
  width: 80px;
}
.header .title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

/*right*/
.right {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 8px;
  font-size: 20px;
  color: #555;
  font-weight: bold;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
/*Content*/
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px;
}

#footer {
  display: flex;
}

/**/

.container {
  max-width: 600px;
  background: white;
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: #f0f3f7; /* nền chung */
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

input {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  margin-top: 5px;
}

textarea {
  height: 80px;
  resize: none;
}

input[type="file"] {
  border: none;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-green {
  background-color: #28a745;
  color: white;
  padding: 10px;
  font-size: 18px;
}

.btn-blue {
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 18px;
}

/*gio hang*/
.cart-icon {
  font-size: 30px;
  color: black; /* Màu xanh sáng hiện đại */
  text-decoration: none;
  padding: 8px;
  border-radius: 50%;
  position: relative; /* Để cho phần tử số lượng có thể được định vị */
  transition: background-color 0.3s;
}

.cart-icon:hover {
  background-color: rgba(79, 195, 247, 0.2); /* Hover nhẹ */
}

.cart-count {
  position: absolute;
  top: -5px;
  left: 28px;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}
