body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  touch-action: none;
  background-color: #f0f3f7;
  /* nền chung */
}

/*header */
.header {
  display: flex;
  flex-direction: column;
  background-color: #bde5f2;
  /* nền nhạt */
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px 25px;
}

/*Content*/
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px;
}

#footer {
  display: flex;
}

/**/

.container {
  background: white;
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 680px;
  background-color: #f0f3f7;
  /* nền chung */
}

.formaddArticle {
  margin: 90px;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin-top: 35px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

input {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  margin-top: 5px;
}

textarea {
  height: 80px;
  resize: none;
}

input[type="file"] {
  border: none;
}

.btn-green {
  background-color: #28a745;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin-top: 45px;
}

.btn-green:hover {
  background-color: #2563eb;
}

.buttons {
  gap: 10px;
  margin-top: 15px;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-blue {
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 18px;
}