body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  touch-action: none;
}

/*header */
.header {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px 25px;
}
/*logo*/
.logo-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.header img {
  height: 80px;
  width: 80px;
}
.header .title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

/*right*/
.right {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 8px;
  font-size: 20px;
  color: #555;
  font-weight: bold;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
/*Content*/
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px;
}

#footer {
  display: flex;
}

/**/
.container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 700px;
}

h2 {
  margin-bottom: 15px;
  font-size: 30px;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.search-bar input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-blue {
  background-color: #007bff;
  color: white;
  padding: 10px;
}

.btn-blue:hover {
  background-color: #0056b3;
}

.btn-green {
  background-color: #28a745;
  color: white;
  padding: 10px;
}

.btn-red {
  background-color: #dc3545;
  color: white;
  padding: 10px 15px;
}

.btn-grey {
  background-color: #e0e0e0;
}

.btn-active {
  background-color: #6c757d;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f1f1f1;
}

img {
  width: 75px;
  height: 75px;
  border-radius: 3px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button,
.pagination span button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.pagination span .active {
  background-color: #0056b3;
}
