body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  touch-action: none;
}

/*header */
.header {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px 25px;
}
/*logo*/
.logo-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.header img {
  height: 80px;
  width: 80px;
}
.header .title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

/*right*/
.right {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 8px;
  font-size: 20px;
  color: #555;
  font-weight: bold;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/*button*/
.header .buttons button {
  background-color: #3b82f6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

.header .buttons button.register {
  background-color: #10b981;
}

/*Content*/
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 50px;
}

.container {
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  height: 700px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

.cart-item img {
  width: 150px;
  height: 150px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.cart-item input[type="checkbox"] {
  margin-right: 10px;
}
.cart-item button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
.quantity-control {
  display: flex;
  align-items: center;
}
.quantity-control button {
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}
.checkout {
  margin-top: 180px;
  text-align: right;
}

.checkout button {
  background-color: green;
  margin-top: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
}

.checkout button:hover {
  background-color: #10b981;
}
