body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  touch-action: none;
  background-color: #f0f3f7;
  /* nền chung */
}

/*header */
.header {
  display: flex;
  flex-direction: column;
  background-color: #bde5f2;
  /* nền nhạt */
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Căn giữa theo chiều dọc */
  width: 100%;
  padding: 13px 25px;
}

h1 {
  font-size: 24px;
  font-weight: 450;
  color: #1e3a8a;
}

/*logo*/
.logo-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.header img {
  height: 80px;
  width: 80px;
}

.header .title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

/*button*/
.header .buttons {
  display: flex;
  align-items: center;
  /* Căn giữa các nút và icon */
}

.header .buttons button {
  background-color: #3b82f6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

.buttons button:hover {
  background-color: #0284c7;
  box-shadow: 0 0 10px #7dd3fc;
  transform: scale(1.05);
}

.header .buttons button.register {
  background-color: #10b981;
}

/*Content*/
.main {
  width: 100%;
  max-width: 88%;
  /* giới hạn chiều ngang tối đa */
  margin: 0 auto;
  /* căn giữa ngang */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 50px;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 700px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

p {
  font-size: 18px;
  color: #555;
}

a {
  color: #0066c0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*gio hang*/
.cart-icon {
  font-size: 30px;
  color: black;
  text-decoration: none;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.cart-icon:hover {
  background-color: rgba(79, 195, 247, 0.2);
  /* Hover nhẹ */
}