body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  touch-action: none;
  background-color: #f0f3f7;
  /* nền chung */
}

/*header */
/*header */
.header {
  display: flex;
  flex-direction: column;
  background-color: #bde5f2;
  /* nền nhạt */
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Căn giữa theo chiều dọc */
  width: 100%;
  padding: 13px 25px;
}

h1 {
  font-size: 24px;
  font-weight: 450;
  color: #1e3a8a;
}

/*logo*/
.logo-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.header img {
  height: 80px;
  width: 80px;
}

.header .title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

/*button*/
.header .buttons {
  display: flex;
  align-items: center;
  /* Căn giữa các nút và icon */
}

.header .buttons button {
  background-color: #3b82f6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

.buttons button:hover {
  background-color: #0284c7;
  box-shadow: 0 0 10px #7dd3fc;
  transform: scale(1.05);
}

.header .buttons button.register {
  background-color: #10b981;
}


/*Content*/
.main {
  width: 100%;
  max-width: 80%;
  /* giới hạn chiều ngang tối đa */
  margin: 0 auto;
  /* căn giữa ngang */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 50px;
}

.contact-container {
  background-color: #f0f3f7;
  /* nền chung */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 700px;
  text-align: left;
  margin-top: 45px;
  margin-bottom: 45px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}

h5 {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: gray;
}

.contact-container h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #333;
}

p {
  font-size: 18px;
  margin-left: 30px;
  margin-top: 10px;
  font-style: italic;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.social-icons .icon {
  width: 65px;
  height: 65px;
  cursor: pointer;
}

.cart-icon {
  font-size: 30px;
  color: black;
  text-decoration: none;
  padding: 12px;
  /* Căn đều với button */
  border-radius: 50%;
  transition: background-color 0.3s;
}

.cart-icon:hover {
  background-color: rgba(79, 195, 247, 0.2);
  /* Hover nhẹ */
}