.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1f2937 0%, #3b4a63 100%);
  color: white;
  padding: 20px 0;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-top: 15px;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 80px;
  margin: 0;
}
.branch-info,
.contact-info {
  text-align: center;
}
.footer h3 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.footer p {
  margin: 10px 0;
  font-size: 17px;
  text-align: center;
}
