body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  touch-action: none;
  background-color: #f0f3f7; /* nền chung */
}

/*header */
.header {
  display: flex;
  flex-direction: column;
  background-color: #bde5f2; /* nền nhạt */
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Căn giữa theo chiều dọc */
  width: 100%;
  padding: 13px 25px;
}

h1 {
  font-size: 24px;
  font-weight: 450;
  color: #1e3a8a;
}

/*logo*/
.logo-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.header img {
  height: 80px;
  width: 80px;
}
.header .title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

/*button*/
.header .buttons {
  display: flex;
  align-items: center; /* Căn giữa các nút và icon */
}

.header .buttons button {
  background-color: #3b82f6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

.buttons button:hover {
  background-color: #0284c7;
  box-shadow: 0 0 10px #7dd3fc;
  transform: scale(1.05);
}

.header .buttons button.register {
  background-color: #10b981;
}

/*Content*/
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px;
  height: 700px;
  margin-top: 25px;
  margin-bottom: 10px;
}

/* Khung đăng nhập */
.login-container {
  background-color: white;
  padding: 40px;
  margin: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  width: 500px;
  background-color: #f0f3f7; /* nền chung */
}

/* Tiêu đề */
.login-form {
  margin-top: 15px;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

/* lable */
.login-container label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 10px 0 5px;
}

/* input */
input {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Nút gửi lại mã */
.otp-container {
  display: flex;
  gap: 15px;
  width: 100%;
}

.resend-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
  margin-top: 10px;
}

.resend-btn:hover {
  background-color: #2563eb;
}

.btn {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.send-btn {
  margin-right: 10px;
  width: 300px;
  padding: 8px;
  font-size: 18px;
  background-color: #3b82f6;
  border-radius: 5px;
  border: none;
}

.back-btn {
  width: 300px;
  margin-left: 20px;
  padding: 8px;
  font-size: 18px;
  background-color: red;
  border-radius: 5px;
  border: none;
}

.send-btn:hover {
  background-color: #2563eb;
}

.back-btn:hover {
  background-color: #dc2626;
}


/*gio hang*/
.cart-icon {
  font-size: 30px;
  color: black;
  text-decoration: none;
  padding: 12px; /* Căn đều với button */
  border-radius: 50%;
  transition: background-color 0.3s;
  margin-left: 10px; /* Khoảng cách với button */
}

.cart-icon:hover {
  background-color: rgba(79, 195, 247, 0.2); /* Hover nhẹ */
}