body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  touch-action: none;
  background-color: #f0f3f7;
  /* nền chung */
}

/*header */
.header {
  display: flex;
  flex-direction: column;
  background-color: #bde5f2;
  /* nền nhạt */
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px 25px;
}

/*Content*/
.main {
  width: 100%;
  max-width: 90%;
  /* giới hạn chiều ngang tối đa */
  margin: 0 auto;
  /* căn giữa ngang */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 50px;
}

.main img {
  width: 100%;
  height: 700px;
}

.main .content {
  padding: 10px 0;
  width: 100%;
}

.content h1 {
  font-size: 40px;
  font-weight: 450;
  color: #1e3a8a;
  margin-bottom: 15px;
}

.content p {
  font-size: 20px;
  margin-bottom: 5px;
}

#footer {
  display: flex;
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  /* Đảm bảo không tràn chiều ngang */
  overflow: hidden;
  /* Ẩn phần ảnh bị tràn */
}

.swiper-slide {
  width: 100% !important;
  /* Đảm bảo slide chiếm toàn bộ chiều rộng container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 900px;
  /* Chiều cao tùy chỉnh */
}

.swiper-pagination {
  bottom: -120px !important;
  /* Điều chỉnh khoảng cách từ dưới lên */
  top: auto !important;
  /* Đảm bảo không bị ghi đè bởi top */
}