body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  touch-action: none;
  background-color: #f0f3f7; /* nền chung */
}

/*header */
.header {
  display: flex;
  flex-direction: column;
  background-color: #bde5f2; /* nền nhạt */
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px 25px;
}
/*logo*/
.logo-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.header img {
  height: 80px;
  width: 80px;
}
.header .title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

/*button*/
.header .buttons button {
  background-color: #3b82f6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

.header .buttons button.register {
  background-color: #10b981;
}

/*Content*/
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px;
}

/* Khung đăng nhập */
.login-container {
  background-color: white;
  padding: 40px;
  margin: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  width: 500px;
  height: 700px;
  background-color: #f0f3f7; /* nền chung */
}

/* Tiêu đề */
.login-form {
  margin-top: 15px;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

/* lable */
.login-container label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 10px 0 5px;
}

/* input */
input {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Nút gửi lại mã */
.otp-container {
  display: flex;
  gap: 15px;
  width: 100%;
}

.resend-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
  margin-top: 10px;
}

.resend-btn:hover {
  background-color: #2563eb;
}

/* Nút đăng nhập */
.login-btn {
  width: 100%;
  background-color: rgb(16, 185, 129);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}

.login-btn:hover {
  background-color: #2563eb;
}

/* Quên mật khẩu */
.forgot-password {
  display: block;
  text-align: right;
  margin-top: 10px;
  color: #3b82f6;
  text-decoration: none;
  font-size: 18px;
}

.forgot-password:hover {
  text-decoration: underline;
}

/*gio hang*/
.cart-icon {
  font-size: 30px;
  color: black;
  text-decoration: none;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.cart-icon:hover {
  background-color: rgba(79, 195, 247, 0.2); /* Hover nhẹ */
}
