* {
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.nav {
  background-color: #a9c4f2; /* Xanh rất nhạt - hiện đại, dễ nhìn */
  padding: 12px 0;
  border-radius: 5px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav ul li a {
  font-size: 25px;
  font-weight: 650;
  font-family: "Nunito", sans-serif;
  color: #1e40af;
  text-decoration: none;
  padding: 10px 35px;
}

.nav ul li a:hover {
  background-color: #bbdefb; /* Hover nhẹ hơn, đồng bộ */
  border-radius: 5px;
}

/* 

/*header */
.container {
  width: 90%;
  margin: auto;
}
