body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  touch-action: none;
  background-color: #f0f3f7;
  /* nền chung */
}

/*header */
.header {
  display: flex;
  flex-direction: column;
  background-color: #bde5f2;
  /* nền nhạt */
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px 25px;
}

/*Content*/
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px;
}

#footer {
  display: flex;
}

/**/
.container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  background-color: #f0f3f7;
  /* nền chung */
}

h2 {
  margin-bottom: 15px;
  font-size: 30px;
}

select {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #b0bec5;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.search-bar input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}


.search-bar input:focus {
  border-color: #4a90e2;
}


.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-blue {
  background-color: #007bff;
  color: white;
  padding: 10px;
}

.btn-blue:hover {
  background-color: #0056b3;
}

.btn-green {
  background-color: #28a745;
  color: white;
  padding: 10px;
}

.btn-green:hover {
  background-color: #218838;
}

.btn-red {
  background-color: #dc3545;
  color: white;
  padding: 10px 15px;
}

.btn-grey {
  background-color: #e0e0e0;
}

.btn-active {
  background-color: #6c757d;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  height: 700px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f1f1f1;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #0984e3;
  color: white;
  border: none;
  border-radius: 4px;
  transition: opacity 0.3s;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button,
.pagination span button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.pagination span .active {
  background-color: #0056b3;
}